@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegurarse de que el body y el html ocupen todo el tamaño de la ventana */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Asegurarse de que la raíz de la aplicación ocupe todo el espacio */
#root {
  height: 100%;
}

/* Asegurar que los elementos dentro del contenedor principal no agreguen márgenes o rellenos innecesarios */
.min-h-screen {
  height: 100%;
}

body, .min-h-screen {
  margin: 0;
  padding: 0;
}
